/* Main stylesheet - imports all focused CSS modules */
@import './styles/tailwind.css';
@import './styles/theme-config.css';
@import './styles/themes.css';
@import './styles/base.css';
@import './styles/animations.css';
@import './styles/utilities.css';
@import './styles/slider.css';
@import './styles/mdx.css';
